<header class="container">
	<h1 class="page-title" id="about">The Cool Kids Club</h1>
</header>

<section class="container">

	<div class="card-holder">
		<div class="card">
			<div class="front">
				<div class="card-front-image">
					<%= image_tag("icons/human-200x200.png") %>
				</div>
				<div class="card-front-text">
					<h2 class="styled-text">Benji</h2>
					<p>Ruby Developer</p>
				</div>
				<p class="card-email">daylightsavings@icloud.com</p>
			</div>
			<div class="back">
				<div class="back-text">
					<h4>Talents & Roles</h4>
					<p>Co-founder, HTML5, CSS3, JS, jQuery, Ruby, RoR</p>
				</div>
				<div class="back-bottom">
					<a href="#"><span class="icon-twitter"></span></a>
					<a href="#"><span class="icon-github"></span></a>
					<a href="#"><span class="icon-google"></span></a>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="front">
				<div class="card-front-image">
					<%= image_tag("icons/human-200x200.png") %>
				</div>
				<div class="card-front-text">
					<h2 class="styled-text">Danielle</h2>
					<p>Front-end Web Developer</p>
				</div>
				<p class="card-email">danielle.tinkler@gmail.com</p>
			</div>
			<div class="back">
				<div class="back-text">
					<h4>Talents & Roles</h4>
					<p>Co-founder, HTML5, CSS3, JS, jQuery</p>
				</div>
				<div class="back-bottom">
					<a href="https://twitter.com/dashtink"><span class="icon-twitter"></span></a>
					<a href="https://github.com/dashtink"><span class="icon-github"></span></a>
					<a href="https://plus.google.com/u/2/+DanielleTinkler/about"><span class="icon-google"></span></a>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="front">
				<div class="card-front-image">
					<%= image_tag("icons/human-200x200.png") %>
				</div>
				<div class="card-front-text">
					<h2 class="styled-text">Adam</h2>
					<p>Graphics Designer</p>
				</div>
				<p class="card-email">info@adamarvidsson.se</p>
			</div>
			<div class="back">
				<div class="back-text">
					<h4>Talents & Roles</h4>
					<p>Co-founder, Graphics Design</p>
				</div>
				<div class="back-bottom">
					<a href="#"><span class="icon-twitter"></span></a>
					<a href="#"><span class="icon-github"></span></a>
					<a href="#"><span class="icon-google"></span></a>
				</div>

			</div>
		</div>

		<div class="card">
			<div class="front">
				<div class="card-front-image">
					<%= image_tag("icons/human-200x200.png") %>
				</div>
				<div class="card-front-text">
					<h2 class="styled-text">Sam</h2>
					<p>Ruby Developer</p>
				</div>
				<p class="card-email">samwebb@samwebb.me</p>
			</div>
			<div class="back">
				<div class="back-text">
					<h4>Talents & Roles</h4>
					<p>Co-founder, HTML5, CSS3, JS, jQuery, Ruby, RoR, Git, Treehouse Moderator</p>
				</div>
				<div class="back-bottom">
					<a href="https://twitter.com/SamTheWebb"><span class="icon-twitter"></span></a>
					<a href="https://github.com/salexzee"><span class="icon-github"></span></a>
					<a href="https://plus.google.com/u/0/105546990448801411596/about"><span class="icon-google"></span></a>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="front">
				<div class="card-front-image">
					<%= image_tag("icons/human-200x200.png") %>
				</div>
				<div class="card-front-text">
					<h2 class="styled-text">Jason</h2>
					<p>Ruby Developer</p>
				</div>
				<p class="card-email">jason.data@roadbytes.me
			</div>
			<div class="back">
				<div class="back-text">
					<h4>Talents & Roles</h4>
					<p>Co-founder, HTML5, CSS3, JS, jQuery, Ruby, RoR</p>
				</div>
				<div class="back-bottom">
					<a href="#"><span class="icon-twitter"></span></a>
					<a href="#"><span class="icon-github"></span></a>
					<a href="#"><span class="icon-google"></span></a>
				</div>
			</div>
		</div>
	</div>
</section>
