<%= nested_form_for @post do |f| %>
  <div class="form">
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@post.errors.count, "error") %> prohibited
          this post from being saved:
        </h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-block">
      <%= f.label :title, class: 'form-input-label' %><br>
      <%= f.text_field :title, class: 'form-title text-line' %>
    </div>

    <div class="form-block">
      <%= f.label :text, class: 'form-input-label' %><br>
      <%= f.text_area :text, class: 'form-body' %>
    </div>

    <div class="form-block">
      <label>Category:</label>
      <%= f.fields_for :category, @category do |category_form| %>
        <%= category_form.text_field :topic, class: 'form-title text-line' %>
      <% end %>
    </div>

    <div class="form-block">
      <%= f.fields_for :images do |images_form| %>
        <%= images_form.file_field :url %>
        <%= images_form.link_to_remove "Remove this image" %>
      <% end %>
      <p> <%= f.link_to_add "Add an image", :images %> </p>
    </div>

    <div class="images">
      <%= @post.images.each do |image| %>
        <p>
          <%= image_tag(image.url) %>
          <br>
          <span> &nbsp; link: &nbsp; ![img](
            <%= image.url %>
            )
          </span>
        </p>
      <% end %>
    </div>

    <p class="kd">This form supports Kramdown syntax. <%= link_to 'Kramdown Quick Reference', 'http://kramdown.gettalong.org/quickref.html', target: "_blank" %></p>

    <p class="form-submit">
      <%= f.submit %>
    </p>
  </div>

<% end %>
