<%= tinymce_assets %>

<%= nested_form_for @post do |f| %>
  <div class="form">
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@post.errors.count, "error") %> prohibited
          this post from being saved:
        </h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-block">
      <%= f.label :title, class: 'form-input-label' %><br>
      <%= f.text_field :title, class: 'form-title text-line' %>
    </div>

    <div class="form-block">
      <%= f.text_area :text, :class => "tinymce", :rows => 40, :cols => 120 %>
      <%= tinymce plugins: "uploadimage", uploadimage_form_url: "/images/create" %>
    </div>

    <div class="form-block">
      <label>Category:</label>
      <%= f.fields_for :category, @category do |category_form| %>
        <%= category_form.text_field :topic, class: 'form-title text-line' %>
      <% end %>
    </div>
    <% unless @post.images.blank? %>
      replace, remove or add images:
      <br><br>
    <% end %>
    <p class="kd">This form supports Kramdown syntax. <%= link_to 'Kramdown Quick Reference', 'http://kramdown.gettalong.org/quickref.html', target: "_blank" %></p>

      <%= f.submit class: "button" %>
  </div>

<% end %>
