<%= form_for @post do |f| %>
  <div class="form">
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@post.errors.count, "error") %> prohibited
          this post from being saved:
        </h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-block">
      <%= f.label :title, class: 'form-input-label' %><br>
      <%= f.text_field :title, class: 'form-title' %>
    </div>

    <div class="form-block">
      <%= f.label :text, class: 'form-input-label' %><br>
      <%= f.text_area :text, class: 'form-body' %>
    </div>

    <p class="kd">This form supports Kramdown syntax. <%= link_to 'Kramdown Quick Reference', 'http://kramdown.gettalong.org/quickref.html', target: "_blank" %></p>

    <p>
      <%= f.submit %>
    </p>
</div>

<% end %>