<div id="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <h2>
        <% if post.title.length > 20 %>
          <%= link_to post.title[0..19] + " ...", post%>
        <% else %>
          <%= link_to post.title, post%>
        <% end %>
      </h2>
      <hr>
      <h4><%= post.category.topic %></h4>
      <small>Author: <%= post.user.name %></small>
      <br>
      <small>Created <%= time_ago_in_words(post.created_at) %> ago</small>
      <br><br>
    </div>
  <% end %>
</div>
