<header class="container">
	<h1 class="page-title">All Posts</h1>
	<%= link_to "New Post", new_post_path %>
</header>

<section class="container">
	<% @posts.reverse.each do |post| %>
	  <h2><%= link_to post.title, post%></h2>
	  <p><%= post.text %></p>
    <p><%= link_to 'Edit', edit_post_path(post) %></p>
	  <hr>
	<% end %>

	<% unless @post_index == 0 %>
		<%=link_to "previous page", posts_path(:page => @post_index) %>
		&nbsp; &nbsp;
	<% end %>

	<% unless @next_page > @total_pages %>
		<%=link_to "next page", posts_path(:page => @next_page) %>
	<% end %>
	<br><br><br>
</section>
