<header class="container">
	<h1 class="page-title">All Posts</h1>
	<%= link_to "New Post", new_post_path %>
</header>

<section class="container">
		<% @posts.each do |post| %>
		  <div class="post">
			  <h2><%= link_to post.title, post%></h2>
			  <p class="date">Created <%= time_ago_in_words(post.created_at) %> ago</p>
			  <p>Author: <%= post.user.name %></p><hr>
		  </div>
		<% end %>

	<% unless @post_index == 0 %>
		<%=link_to "prev", posts_path(:page => @post_index), class: "prev-pagination" %>
		&nbsp; &nbsp;
	<% end %>

	<% unless @next_page > @total_pages %>
		<%=link_to "next", posts_path(:page => @next_page), class: "next-pagination" %>
	<% end %>
	<br><br><br>
</section>
