<header class="container">
  <h2 class="page-title"><%= @post.title %>
    <% if @post.category %>
      <%= link_to category_path(@post.category) do %>
        <small class='category-sub'>
          #<%= @post.category.topic %>
        </small>
      <% end %>
    <% end %>
  </h2>
</header>


<section class="container">
	<p class="time">Created <%= time_ago_in_words(@post.created_at) %> ago</p>
	<p><%= markdown @post.text %></p>
  <br>
  <% if policy(@post).edit? %>
  	<%= link_to 'Edit', edit_post_path(@post) %>
    <br>
  	<%= link_to "Delete", post_path(@post),
      method: :delete,
      data: { confirm: 'Are you sure you want to delete the post?'}%>
	  <br>
  <% end %>
	<%= link_to "all posts", posts_path %>
</section>

<section class="container comments">

	<h3><%= pluralize(@post.comments.count, 'comment') %></h3>

 	<%= render partial: 'comments/comment', collection: @post.comments %>

  <% if policy(@post.comments).create? %>
  	<h3>Add a comment</h3>
    <% @comment ||= Comment.new %>
  	<%= render partial: 'comments/form' %>
  <% else %>
  <%= link_to 'login to comment', new_user_session_path %>
  <% end %>

</section>
