<header class="container">
  <h2><%= @post.title %></h2>
</header>

<section class="container">
	<p><%= @post.text %></p>

  <br>
	<%= link_to 'Edit', edit_post_path(@post) %>
  <br>
	<%= link_to "Delete", "#" %>
	<br>
	<%= link_to "Back Home", posts_path %>
</section>