<header class="container">
  <h2 class="page-title"><%= @post.title %></h2>
</header>

<section class="container">
	<p class="time">Created <%= time_ago_in_words(@post.created_at) %> ago</p>
	<p><%= markdown @post.text %></p>
  <br>
	<%= link_to 'Edit', edit_post_path(@post) %>
  <br>
	<%= link_to "Delete", post_path(@post),
    method: :delete,
    data: { confirm: 'Are you sure you want to delete the post?'}%>
	<br>
	<%= link_to "Back Home", posts_path %>
</section>

<section class="container comments">

	<h3><%= pluralize(@post.comments.count, 'comment') %></h3>

 	<%= render @post.comments %>

  <% if current_user %>
  	<h3>Add a comment</h3>
  	<%= render 'comments/form' %>
  <% end %>

</section>
