<section class="container">
	<h2><%= @post.title %></h2>
	<p><%= @post.text %></p>

	<%= link_to "Edit", edit_post_path %>
	<br>
	<%= link_to "Delete", "#" %>
	<br>
	<%= link_to "Back Home", root_path %>
</section>