<!DOCTYPE html>
<html>
<head>
  <title>The Home of TribalDev</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar">
		<ul class="nav">
			<li class="nav-item">
				<%= link_to "Home", root_path %>
			</li>
			<li class="nav-item">
				<%= link_to "Blog", posts_path %>
			</li>
			<li class="nav-item">
				<%= link_to "About", pages_about_path %>
			</li>
			<% if user_signed_in? %>
				<li class="nav-item"><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
			<% else %>
				<li class="nav-item">
					<%= link_to "Log In", new_user_session_path %>
				</li>
			<% end %>

		</ul>
		<div class="nav-search-bar">
      <form action="/search" method="get">
  			<label for="search">Search</label>
  			<input type="text" id="search" name="query" class="search text-line">
        <input type="submit" value="Go" class='search-submit'>
      </form>
		</div>
	</nav>
