<!DOCTYPE html>
<html>
<head>
  <title>The Home of TribalDev</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar">
		<ul class="nav">
			<li class="nav-item">
				<%= link_to "Home", root_path %>
			</li>
			<li class="nav-item">
				<%= link_to "Blog", posts_path %>
			</li>
			<li class="nav-item">
				<%= link_to "About", pages_about_path %>
			</li>
			<li class="nav-item">
				<%= link_to "Log In", "#" %>
			</li>

		</ul>
		<div class="nav-search-bar">
			<label for="search">Search</label>
			<input type="text" id="search" name="search" class="search">
		</div>
	</nav>
